<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.INTERNET" />
  <application>
    <activity
      android:name="com.vitlane.browser.VitlaneBrowserActivity"
      android:exported="false"
      android:screenOrientation="portrait"
      android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
      android:windowSoftInputMode="adjustResize"
      android:theme="@android:style/Theme.Material.Light.NoActionBar" />
  </application>
</manifest>
